<div id="<%= dom_id baby_profile %>">
  <p>
    <strong>Gender:</strong>
    <%= baby_profile.gender %>
  </p>

  <p>
    <strong>Mothers name:</strong>
    <%= baby_profile.mothers_name %>
  </p>

  <p>
    <strong>Fathers name:</strong>
    <%= baby_profile.fathers_name %>
  </p>

  <p>
    <strong>Expected date:</strong>
    <%= baby_profile.expected_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= baby_profile.description %>
  </p>

</div>
